<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="">
	<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h1>Create Budget Item</h1>
						<hr />
						<form id="create-form">
							<div class="form-group">
								<label for="customer-select">Select Customer</label> 
								 <select class="custom-select" id="select-customer">
								 	{% for i in customers %}
								    <option selected value="{{ i['id'] }}">{{ i['name'] }}</option onselect="chooseCustomer(this);">
								    {% endfor %}
								  </select>
							</div>
						</form>

						<table class="table table-sm table-striped table-bordered">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Customer</th>
						      <th scope="col">Item</th>
						      <th scope="col">Amount</th>
						      <th scope="col">Date Created</th>
						       <th scope="col">Date Modified</th>
						    </tr>
						  </thead>
						  <tbody id="item-table"></tbody>
						</table>

					</div><!-- END CARD BODY -->
				</div><!-- END CARD -->
			</div><!-- END COL-MD-12 -->
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	</script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
	</script>
	<script>
	$(document).ready(function(){
		$("#select-customer").change(function() {
			let cID = $("#select-customer").val()
  			$.ajax({
		      type: 'get',
		      url: '/budget/details/' + cID,
		       success: function (res) {
		       	$('#item-table').empty()
		       	let x 
		       	let dt = JSON.parse(res.data)
		       	for(x in dt) { 
		       		let html = ''
		       			html += '<tr>'
		       				html += '<td>' + dt[x].id + '</td>'
		       				html += '<td>' + dt[x].customer + '</td>'
		       				html += '<td>' + dt[x].name + '</td>'
		       				html += '<td>' + dt[x].amount + '</td>'
		       				html += '<td>' + dt[x].date_created + '</td>'
		       				html += '<td>' + dt[x].date_modified + '</td>'
		       			html += '</tr>'
		       			$('#item-table').append(html);
		       	}
		       }
			});
		});
	});
</script>
</body>
</html>